@media (min-width: 750px) and (max-width: 1200px) {
  /* ticket */
  .ticket .line {
    display: none;
  }


  /* director */
  .director .direct-txt {
    margin-top: 0;
  }
  .director .direct-txt p:nth-child(4) {
    font-size: 14px;
  }

  /* about 시작 */
  .about {
    padding-left: 0;
    padding-right: 0;
  }
  
  .about > h1 {
    font-size: 24px;
    margin-bottom: -50px;
    margin-left: 80%;
  }
  .about-box {
    justify-content: space-between;
    flex-direction: row-reverse;
  }
  
  .about .about-txt-box {
    border-radius: 0 clamp(150px, calc(100vw * (220/ 1920)), 220px) clamp(150px, calc(100vw * (220/ 1920)), 220px) 0;
    margin-right: calc(100vw * (55 / 1920));
    margin-left: 0;
  }
  
  .about .about-txt > .p2 {
  display: none;
  }

}