@media (min-width: 750px) and (max-width: 1200px) {
/* main-banner */
.main .swiper-slide .txt h1 {
  font-size: 26px;
}
.main .swiper-slide .txt h3 {
  font-size: 16px;
}

.main .swiper-slide .txt p {
  font-size: 14px;
  line-height: 20px;
}

/* schedule  */
.calendar {
  position: relative;
}

.calendar-legend {
  position: absolute;
  bottom: -20px;
  right: 0;
}

.anw-flex {
  display: block;
  }

  .anw-btn {
    margin-top: 10px;
    }

  /* ticket */
  .ticket .line {
    display: none;
  }

  .ticket .swiper-slide {
    justify-content: center;
  }


  /* director */
  .director .direct-txt {
    margin-top: 0;
  }
  .director .direct-txt p:nth-child(4) {
    font-size: 14px;
  }

  /* about 시작 */
  .about {
    height: 556px;
    padding-left: 0;
    padding-right: 0;
  }
  
  .about > h1 {
    font-size: 24px;
    margin-bottom: -50px;
    margin-left: 80%;
  }
  .about-box {
    justify-content: space-between;
    flex-direction: row-reverse;
    margin-top: 25px;
  }
  
  .about .about-txt-box {
    display: none;
    /* border-radius: 0 clamp(150px, calc(100vw * (220/ 1920)), 220px) clamp(150px, calc(100vw * (220/ 1920)), 220px) 0;
    margin-right: calc(100vw * (55 / 1920));
    margin-left: 0; */
  }
  
  .about .about-txt-box-1200 {
    background-color: #F9ECEC;
   width: clamp(497px, 39.063vw, 750px ); /*497,556*/
  height: clamp(556px, 41.406vw, 795px);
  margin-left: 2.865vw;
  display: flex; flex-direction: column;
  justify-content: center; 
  align-items: center;
  padding-right: 0;
    border-radius: 0 clamp(150px, 11.458vw, 220px) clamp(150px, 11.458vw, 220px) 0;
    margin-right: 2.865vw;
    margin-left: 0;
  }
  .mem-box > .tit {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 2.604vw;
    padding-right: 2.604vw;
  }

/* notice start */
  .notice > .tit > h1 {
    font-size: 24px;
  }

  .tab-box {
    gap: 20px;
  }

  .tab__content-wrapper > .tab__content > .list-box > a {
    flex-grow: 0;
    flex-shrink: 0;
    min-width: 450px; /* 최소 너비 설정 */
  max-width: 450px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 3px;
  }
}