/* 폰트 */
@import url('https://cdn.jsdelivr.net/gh/orioncactus/Pretendard@v1.3.9/dist/web/static/variable/PretendardVariable.css');

body {
    font-family: 'Pretendard Variable', sans-serif;
    font-weight: 400;
}

:root {
    --font-small: clamp(12px, 0.73vw, 16px);
    /* 본문 글씨 */
    --font-medium: clamp(14px, 0.94vw, 22px);
    /* 소제목 글씨 */
    --font-large: clamp(20px, 1.46vw, 36px);
    /* 헤더용 글씨 */
    --font-xl: clamp(32px, 1.875vw, 40px);

    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
}

/* 노말라이즈 */
body, h1, h2, h3, li, span, p, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    color: inherit;
    text-decoration: none;
}

div, h1, h2, h3, p, span {
    white-space: nowrap;
}

/* 라이브러리 */
.r {
    border: 1px solid red;
}
.g {
    border: 1px solid green;
}
.b {
    border: 1px solid blue;
}
.o {
    border: 1px solid orange;
}
.p {
    border: 1px solid purple;
}

/* ================ 커스텀 =============== */

/* ==== top-bar ===== */
.top-bar-box {
    height: 85px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-bar-left > div > img {
    height: 59px;
}

.top-bar-right {
    height: 100%;
}
.top-bar-right > ul {
    display: flex;
    align-items: center;
    height: 100%;
}
.top-bar-right > ul > li {
    margin: 0 60px;
    height: 100%;
    align-content: center;
}
.top-bar-right > ul > li > a {
    color: #dfdfdf;
}

.top-bar-right > ul > li:hover > a {
    text-decoration: underline;
    font-weight: 700;
}

/* ----- 2차 메뉴 ----- */
.top-bar-right > ul > li:hover > .sub-menu {
    display: flex;
    transition: 0.5s;
}
.top-bar-right > ul > li .sub-menu {
    width: 1060px;
    height: 75px;
    position: absolute;
    right: 0;
    top: 85px;
    display: none;
    align-items: center;
    z-index: 9999;
    transition: 0.5s;
    background-color: #202020;
}
.top-bar-right > ul > li > .sub-menu a {
    color: #dfdfdf;
    margin: 0 55px;
}
.top-bar-right > ul > li > .sub-menu li:hover a {
    font-weight: 600;
    color: #fff;
}

/* ==== main banner ==== */
.main {
    width: 100%;
    height: 100%;
}

.swiper {
    width: 100%;
    height: 100%;
    position: relative;
}

.swiper-slide {
    display: flex;
    align-items: center;
    position: relative;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 배경 그라데이션 */
.gra {
    width: 60%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
}

/* 스크롤바 커스텀 */
.swiper-scrollbar {
    width: 400px;
    height: 2px;
    bottom: 100px;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.4);
}

.swiper-scrollbar-drag {
    display: block;
    width: 100%;
    height: 100%;
    transform-origin: left;
    background-color: #fff;
    transform: none;
}

/* 페이지네이션 커스텀 */
.swiper-pagination {
    color: #fff;
    position: absolute;
    left: -830px;
    bottom: 150px;
}

/* 배너 텍스트 */
.swiper-slide > .txt {
    position: absolute;
    padding-left: 100px;
    z-index: 10;
}

.swiper-slide > .txt > h1,
.swiper-slide > .txt > h3,
.swiper-slide > .txt > p {
    color: #fff;
}

.swiper-slide > .txt > h1 {
    font-size: var(--font-xl);
    font-weight: var(--font-weight-semibold);
}
.swiper-slide > .txt > h3 {
    padding-top: 10px;
}
.swiper-slide > .txt > p {
    padding-top: 32px;
}

/* ==== main banner 끝 ==== */

/* ==== schedule 시작 ==== */
