/* 폰트 */
@import url('https://cdn.jsdelivr.net/gh/orioncactus/Pretendard@v1.3.9/dist/web/static/variable/PretendardVariable.css');

body {
    font-family: 'Pretendard Variable', sans-serif;
    font-weight: 400;
}

:root {
    --font-small: clamp(12px, 0.73vw, 16px);
    /* 본문 글씨 */
    --font-medium: clamp(14px, 0.94vw, 22px);
    /* 소제목 글씨 */
    --font-large: clamp(20px, 1.46vw, 36px);
    /* 헤더용 글씨 */
    --font-xl: clamp(32px, 1.875vw, 40px);

    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    --color-111: #111;
    --border-c1: #C1C1C1;
    --color-red: #9D1F26;
    --txt-red: #8D262B;
    --bg-f3: #f3f3f3;
    --txt-bg-red: #F9ECEC;
}

/* 노말라이즈 */
body, h1, h2, h3, li, span, p, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    color: inherit;
    text-decoration: none;
}

div, h1, h2, h3, p, span {
    white-space: nowrap;
}

/* 라이브러리 */
.r {
    border: 1px solid red;
}
.g {
    border: 1px solid green;
}
.b {
    border: 1px solid blue;
}
.o {
    border: 1px solid orange;
}
.p {
    border: 1px solid purple;
}

/* ================ 커스텀 =============== */

/* ==== top-bar ===== */
.top-bar-box {
    height: 85px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-bar-left > div > img {
    height: 59px;
}

.top-bar-right {
    height: 100%;
}
.top-bar-right > ul {
    display: flex;
    align-items: center;
    height: 100%;
}
.top-bar-right > ul > li {
    margin: 0 60px;
    height: 100%;
    align-content: center;
}
.top-bar-right > ul > li > a {
    color: #dfdfdf;
}

.top-bar-right > ul > li:hover > a {
    text-decoration: underline;
    font-weight: 700;
}

/* ----- 2차 메뉴 ----- */
.top-bar-right > ul > li:hover > .sub-menu {
    display: flex;
    transition: 0.5s;
}
.top-bar-right > ul > li .sub-menu {
    width: 1060px;
    height: 75px;
    position: absolute;
    right: 0;
    top: 85px;
    display: none;
    align-items: center;
    z-index: 9999;
    transition: 0.5s;
    background-color: #202020;
}
.top-bar-right > ul > li > .sub-menu a {
    color: #dfdfdf;
    margin: 0 55px;
}
.top-bar-right > ul > li > .sub-menu li:hover a {
    font-weight: 600;
    color: #fff;
}

/* ==== main banner ==== */
.main {
    height: 100%;
}

.swiper {
    height: 100%;
    position: relative;
}

.swiper-slide {
    display: flex;
    align-items: center;
    position: relative;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 배경 그라데이션 */
.gra {
    width: 60%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
}

/* 스크롤바 커스텀 */
.swiper-scrollbar {
    width: 400px;
    height: 2px;
    bottom: 100px;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.4);
}

.swiper-scrollbar-drag {
    display: block;
    width: 100%;
    height: 100%;
    transform-origin: left;
    background-color: #fff;
    transform: none;
}

/* 페이지네이션 커스텀 */
.swiper-pagination {
    color: #fff;
    position: absolute;
    left: -830px;
    bottom: 150px;
}

/* 배너 텍스트 */
.swiper-slide > .txt {
    position: absolute;
    padding-left: 100px;
    z-index: 10;
}

.swiper-slide > .txt > h1,
.swiper-slide > .txt > h3,
.swiper-slide > .txt > p {
    color: #fff;
}

.swiper-slide > .txt > h1 {
    font-size: var(--font-xl);
    font-weight: var(--font-weight-semibold);
}
.swiper-slide > .txt > h3 {
    padding-top: 10px;
}
.swiper-slide > .txt > p {
    padding-top: 32px;
}

/* ==== schedule 시작 ==== */


/* ==== ticket 시작 ==== */
.ticket {

}

.ticket > .bg-box {
    position: relative;
}

.ticket > .bg-box > img {
    width: 100%;
    height: 916px;
}

.ticket h1 {
    text-align: center;
    color: #fff;
    position: absolute;
}


/* ==== director 시작 ==== */
.director {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 156px; padding-bottom: 185px;
}
.director > .direct-photo {
    width: 464px; height: 564px;
}
.director > .direct-photo > img {
    width: 100%; height: 100%;
    object-fit: cover;
}

.director > .direct-txt {
    padding-left: 75px;
    margin-top: 100px;
}

.director > .direct-txt > h2 {
    font-size: var(--font-xl);
    margin-bottom: 23px;
}

.director > .direct-txt > div {
    display: flex;
    align-items: center;
    font-size: 28px;
}

.director > .direct-txt > p {
    margin: 76px 0 80px 0;
    line-height: 25px;
}

.director > .direct-txt > div > p {
    padding-left: 8px;
    font-size: var(--font-large);
    font-weight: var(--font-weight-semibold);
}
.director > .direct-txt > .rtxt {
    font-size: 20px;
    font-weight: var(--font-weight-semibold);
 color: #8D262B;
}


/* ==== about 시작 ==== */
.about {
    padding-left: 100px;
}

.about > h1 {
    font-size: var(--font-xl);
    margin-bottom: -50px;
}
.about-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about .about-txt-box {
    background-color: #F9ECEC;
    width: 750px;
    height: 795px;
    border-radius: 220px 0 0 220px;
    margin-left: 55px;
    display: flex; flex-direction: column;
    justify-content: center; align-items: center;
}

.about .about-txt > span {
    font-size: var(--font-large);
    color: #8D262B;
    font-weight: var(--font-weight-medium);
}

.about .about-txt > h2 {
    font-size: var(--font-xl);
    color: #8D262B;
    margin-bottom: 72px;
    margin-top: 18px;
    font-weight: var(--font-weight-bold);
}

.about .about-txt > p {
    font-size: var(--font-small);
}



/* ==== membership 시작 ==== */
.mem {
    padding-top: 130px;
}
.mem-box {
    height: 297px;
    background-color: #9D1F26;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 0 100px;
  }
  
  .mem-box > .tit {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
    padding-right: 150px;
  }
  
  .mem-box > .tit > h1 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 30px;
  }
  
  .mem-box > .tit > button {
    background-color: rgba(255,255,255,.2);
      color: #fff;
    font-weight: 600;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 50px;
    border: 1px solid #fff;
  }
  
  .mem-box > .tit > button:hover {
    background-color: rgba(255,255,255,1);
    color: #9D1F26;
  }
  
  .mem-box > .mid-box {
    flex-grow: 1;
  }
  
  .mem-box h3 {
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 25px;
  }
  
  .mem-box > .mid-box > p {
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
  }
  
  /* 가입비 표 */
  .mem-box > .right-box {
    flex-grow: 1;
    align-content: start;
  }
  
  table {
    width: 600px;
    border-collapse: collapse;
    border-left: none;
    border-right: none;
    color: #fff;
  }
  td {
    border: 1px solid #fff;
    padding: 11px;
    text-align: center;
    font-size: 18px;
    font-weight: 300;
  }
  td > div {
    display: flex;justify-content: center; align-items: center;
    font-size: 18px;
    font-weight: 300;
  }
  td > div > p {
    font-size: 18px;
    font-weight: 300;
    color: #FFD27D;
    padding-right: 2px;
  }
  
  /* 양끝 선 없애기 */
  th:first-child,
  td:first-child {
    border-left: none;
  }
  th:last-child,
  td:last-child {
    border-right: none;
  }


  /* ==== notice 시작 ==== */
  .notice {
    padding: 100px 115px 140px 100px;
    background-color: #f3f3f3;
  }

  .notice > .tit > h1 {
    font-size: var(--font-xl);
  }

  .tab-box {
    display:  flex;
    margin-top: 75px;
    justify-content: space-between;
  }

  .tab {
    align-items: center;
  }
  /* 안눌렸을떄 */
  .tab__item {
    font-size: var(--font-large);
    font-weight: var(--font-weight-medium);
    color: #999;
    margin-bottom: 40px;
  }
  /* 눌렸을때 */
  .tab__item.active {
    font-size: var(--font-large);
    color: #111;
  }

  /* 탭 내용 */
  .tab__content-wrapper > .tab__content > .list-box.first {
    display: flex;
    border-top: 2px solid #111;
    width: 1470px;
  }

  .tab__content-wrapper > .tab__content > .list-box.last {
    border-bottom: 2px solid #C1C1C1;
  }

  .tab__content-wrapper > .tab__content > .list-box {
    display: flex;
    border-top: 2px solid #C1C1C1;
    width: 1470px;
    align-items: center;
  }

  .list-box > .date-box {
    padding: 20px 65px;
    text-align: center;
  }

  .list-box > .date-box > .date {
    font-size: var(--font-large);
    font-weight: var(--font-weight-semibold);
  }

  /* 탭 내용 active*/
.tab-box > .tab__content-wrapper > .tab__content {
    display: none;
  }
  .tab-box >  .tab__content-wrapper > .tab__content.active {
    display: block;
  }

  /* ==== footer 시작 ==== */
  footer {
    position: relative;
  }

  footer > div {
    position: absolute;
    left: 100px;
    top: -30px;
    font-size: var(--font-small);
    color: #C1C1C1;
  }

  /* other */
  .other {
    background-color: #333;
    display: flex;
    align-items: center;
    color: #fff;
    padding: 27px 100px;
    justify-content: space-between;
  }

  .other > h1 {
    font-size: var(--font-large);
  }

  .other > p {
    font-size: var(--font-medium);
  }

  /* end */

  .end {
    background-color: #DEDEDE;
    text-align: center;
    height: 248px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .end > .bigger {
    display: flex;
    justify-content: center;
    gap: 30px;
    font-size: var(--font-medium);
    color: #555;
    font-weight: var(--font-weight-semibold);
    padding: 30px 0;
  }
  .end > .smaller {
    font-size: var(--font-small);
    color: #868686;
    font-weight: var(--font-weight-regular);
  }