@media (min-width: 360px) and (max-width: 749px) {
  .top-bar-right {
    display: none;
  }

  /* main-banner start */
  .main .swiper-slide {
    height: clamp(254px, calc(100vw * (331 / 1920)), 331px);
  }

  .main .swiper-slide .txt {
    top: 20px;
  }

  .main .swiper-slide .txt h1 {
    font-size: 16px;
  }

  .main .swiper-slide .txt h3 {
    font-size: 12px;
  }

  .main .swiper-slide .txt p {
    display: none;
  }

  .main .swiper .swiper-pagination {
    display: none;
  }

  /* schedule 시작 */

  .schedule {
    padding: 20px;
    padding-bottom: 55px;
  }

  .schedule > h1 {
    font-size: 18px;
    text-align: center;
    margin:  20px 0;
  }

  .sch-box {
    display: block;
  }

  .sch-box .s-right-box .accordian .que {
    width: 98.5%;
  }

  .sch-box .s-left-box,
  .sch-box .s-right-box,
  .accordian,
  .anw-flex {
    width: 100%;
  }

  .sch-box .s-left-box .calendar-days div {
    height: clamp(30px, calc(100vw * (50 / 1920)), 50px);
  }

  .calendar .calendar-header > .month-year {
    font-size: 16px;
  }

  .sch-box .s-right-box {
    margin-top: 40px;
  }

  .sch-box .s-right-box .accordian {
    width: 100%;
  }

  /* ticket start */
  .ticket h1 {
    font-size: 18px;
    top: 35px;
  }

  .ticket > .bg-box > img {
    height: 287px;
    width: 100%;
    object-fit: cover;
  }

  .ticket .swiper-slide .poster {
    padding-right: 20px;
  }

  .ticket .swiper-slide img {
    display: block;
    height: 162px;
    object-fit: cover;
  }

  .ticket .ticket-txt .tit {
    font-size: 14px;
    font-weight: var(--font-weight-semibold);
  }

  .ticket .line {
    display: none;
  }
  .ticket .ticket-pc-txt {
    display: none;
  }
  .ticket .ticket-mb-txt {
    display: block;
    font-size: 12px;
  }

  .ticket .ticket-txt > .btn {
    margin-top: calc(100vw * (100 / 1920));
    gap: 8px;
  }

  /* director 시작 */
  .director .direct-photo img {
    width: 144px;
    height: 175px;
  }

  .director > .direct-txt > h2 {
    font-size: 14px;
    font-weight: var(--font-weight-bold);
  }

  .director > .direct-txt > div {
    font-size: 14px;
    align-items: center;
  }

  .director > .direct-txt > div > p {
    font-size: 16px;
    font-weight: var(--font-weight-semibold);
    padding-left: 4px;
  }

  .director > .direct-txt > p {
    font-size: 12px;
  }

  .director > .direct-txt > p:nth-child(4) {
    display: none;
  }

  /* about start */
  .about {
    padding-left: 0;
  }
  .about > h1 {
    font-size: 18px;
    margin-top: 70px;
    margin-bottom: 20px;
    text-align: center;
  }

  .about-box {
    display: block;
  }

  .about-box > .youtube-container > iframe {
    width: 100%;
    height: 100%;
  }

  .about-box > .youtube-container {
    aspect-ratio: 16 / 9;
  }

  .about .about-txt-box {
    width: 100%;
    border-radius: 0 0 40px 40px;
    margin-left: 0;
    order: 1;
  }

  
  
  /* membership start */
  .mem {
    padding: 0;
    margin-top: -40px;

  }

  .mem-box {
    height: 568px;
  }

}
