@media (min-width: 300px) and (max-width: 749px) {
  .top-bar-right {
    display: none;
  }

  /* 모바일 탑바, 사이드바 */
  .top-bar-right-mb {
    display: block;
  }

  .top-bar-right-mb .mobile-top-bar__btn > span {
    cursor: pointer;
  }

  .top-bar-right-mb .mobile-side-bar {
    background-color: rgba(0, 0, 0, .3);
    position: fixed;
    width: 280px;
    z-index: 100;
    top: 0;
    right: 0;
    bottom:0;
    opacity: 0;
    visibility: hidden;
    transition: visibility .3s, opacity.3s;
  }

  .top-bar-right-mb .mobile-side-bar.active {
    opacity: 1;
    visibility: visible;
  }
  
  .top-bar-right-mb .mobile-side-bar-actived,
  .top-bar-right-mb .mobile-side-bar-actived > body {
    overflow: hidden;
  }

  .top-bar-right-mb  .mobile-side-bar .mobile-side-bar-box {
    background-color: #202020; 
    width: 100%; 
    height: 100vh;
    overflow: auto;
    box-sizing: border-box;
    padding: 30px 30px 30px 40px;
    margin-left: auto;
    transform:translateX(100%);
    transition: transform .3s;
  }

  .top-bar-right-mb  .mobile-side-bar.active .mobile-side-bar-box {
    transform:translateX(0);
  }

  /* 모바일 버전 헤더 시작 */
  .top-bar-right-mb .mobile-side-bar .mobile-side-bar__head {
  padding: 0 0 15px 0;
  display: flex;
  color: #fff;
  border-bottom: 2px solid#666666;
  margin-bottom: 40px;
}

.top-bar-right-mb .mobile-side-bar .mobile-side-bar__head > ul {
  display: flex;
  gap: 12px;
}

.top-bar-right-mb .mobile-side-bar .mobile-side-bar__head > ul img {
  width: 18px; height: 18px;
  object-fit: cover;
}

.top-bar-right-mb .mobile-side-bar .mobile-side-bar__head > ul a {
  font-size: 14px;
}
.top-bar-right-mb .mobile-side-bar .mobile-side-bar__head > ul a:hover {
  text-decoration: underline;
}

/* X버튼 시작 */
.top-bar-right-mb .mobile-side-bar__btn-close{
  width: 24px; height: 24px; position: relative; margin-left: auto; cursor: pointer;
}

.top-bar-right-mb .mobile-side-bar__btn-close::before, .mobile-side-bar__btn-close::after{
/* content는 기본값이다.   */
  content: "";  
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 40%; left: 0;
  transform: rotate(45deg);
}
.top-bar-right-mb .mobile-side-bar__btn-close::after {
  transform: rotate(-45deg);
}
/* X버튼 끝 */

.top-bar-right-mb .mobile-side-bar-item {
  color: #fff;
}

.top-bar-right-mb .mobile-side-bar-item > li {
  font-size: 18px;
  font-weight: var(--font-weight-bold);
  margin-bottom: 40px;
}

.top-bar-right-mb .mobile-side-bar-item > li li{
  margin: 4px 0;
}

.top-bar-right-mb .mobile-side-bar-item > li li:first-child {
  margin-top: 10px;
}

.top-bar-right-mb .mobile-side-bar-item > li li a {
  font-weight: var(--font-weight-regular);
  color: #dfdfdf;
  font-size: 14px;
}

.top-bar-right-mb .mobile-side-bar-item > li li a:hover {
  font-weight: var(--font-weight-semibold);
}


  /* main-banner start */
  .main .swiper-slide {
    height: clamp(254px, 17.240vw, 331px);
  }

  .main .swiper-slide .txt {
    top: 20px;
  }

  .main .swiper-slide .txt h1 {
    font-size: 16px;
  }

  .main .swiper-slide .txt h3 {
    font-size: 12px;
  }

  .main .swiper-slide .txt p {
    display: none;
  }

  .main .swiper .swiper-pagination {
    display: none;
  }

  /* schedule 시작 */

  .schedule {
    padding: 20px;
    padding-bottom: 55px;
  }

  .schedule > h1 {
    font-size: 18px;
    text-align: center;
    margin: 20px 0;
  }

  .sch-box {
    display: block;
  }

  .sch-box .s-right-box .accordian .que {
    width: 98.5%;
  }

  .sch-box .s-left-box,
  .sch-box .s-right-box,
  .accordian,
  .anw-flex {
    width: 100%;
  }
  
  .anw-flex {
    display: block;
    }
  
    .anw-btn {
      margin-top: 10px;
      }

  .sch-box .s-left-box .calendar-days div {
    height: clamp(30px, 2.604vw, 50px);
  }

  .calendar .calendar-header > .month-year {
    font-size: 16px;
  }

  .sch-box .s-right-box {
    margin-top: 40px;
  }

  .sch-box .s-right-box .accordian {
    width: 100%;
  }

  .que > span > .mark-box {
    margin: 8px 4px 8px 0;
  }

  /* ticket start */
  .ticket h1 {
    font-size: 18px;
    top: 35px;
  }

  .ticket > .bg-box > img {
    height: 287px;
    width: 100%;
    object-fit: cover;
  }
  
  .ticket .swiper-slide {
    justify-content: center;
    padding-top: 20px;
  }

  .ticket .swiper-slide .poster {
    padding-right: 20px;
  }

  .ticket .swiper-slide img {
    display: block;
    height: 162px;
    object-fit: cover;
  }
  
  .ticket .swiper-button-next img,
.ticket .swiper-button-prev img{
    margin-top: 20px;
}

/* slide active */
.ticket .swiper-slide.swiper-slide-active img {
  display: block;
  height: 162px;
  object-fit: cover;
}


  .ticket .ticket-txt .tit {
    font-size: 14px;
    font-weight: var(--font-weight-semibold);
  }

  .ticket .line {
    display: none;
  }
  .ticket .ticket-pc-txt {
    display: none;
  }
  .ticket .ticket-mb-txt {
    display: block;
    font-size: 12px;
  }

  .ticket .ticket-txt > .btn {
    margin-top: 5.208vw;
    gap: 8px;
  }

  /* director 시작 */
  .director {
    height: 200px;
    padding-bottom: 0;
  }
  .director > .direct-photo{
    width: 144px;
    height: 175px;
    padding-right: 20px;
  }
  .director .direct-photo img {
    width: 144px;
    height: 175px;
  }
  .director > .direct-txt {
    padding-left: 0;
    margin-top: 0;
  }

  .director > .direct-txt > h2 {
    font-size: 14px;
    font-weight: var(--font-weight-bold);
  }

  .director > .direct-txt > div {
    font-size: 14px;
    align-items: center;
  }

  .director > .direct-txt > div > p {
    font-size: 16px;
    font-weight: var(--font-weight-semibold);
    padding-left: 4px;
  }

  .director > .direct-txt > p {
    display: none;
  }

  .director-out .rtxt-mb {
    display: block;
    text-align: center;
    font-size: 12px;
  font-weight: var(--font-weight-semibold);
  color: #8D262B;
  line-height: 25px;
margin-bottom: 4.167vw;
}
  
  /* about start */
  .about {
    padding-left: 0;
  }
  .about > h1 {
    font-size: 18px;
    margin-top: 70px;
    margin-bottom: 20px;
    text-align: center;
  }

  .about-box {
    display: block;
  }

  .about-box > .youtube-container > iframe {
    width: 100%;
    height: 100%;
  }

  .about-box > .youtube-container {
    aspect-ratio: 16 / 9;
  }
  
  .about .about-txt-box {
    display: none;
  }
  
  .about .about-txt-box-1200 {
    background-color: #F9ECEC;
    width: 100%;
    border-radius: 0 0 40px 0;
    height: 450px;
    margin-right: 2.865vw;
    margin-left: 0;
    display: flex; flex-direction: column;
    justify-content: center; 
    align-items: center;
  }
  .about .about-txt-box-1200 .about-txt {
    margin: 0 20px;
  }

  .about .about-txt-box-1200 .about-txt span p {
    line-height: 20px;
  }

  .about {
    position: relative;
    z-index: 10;
    /* padding-bottom: ; */
  }

  /* membership start */
  .mem {
    position: absolute;
    width: 100%;
    padding: 0;
    margin-top: -40px;
    top: 100; left: 0;
    z-index: 5;
  }

  .mem-box {
    height: 568px;
    flex-direction: column;
    padding: 0;
    font-size: 14px;
    gap: 30px;
    line-height: 20px;
    margin: 0 20px;
  }

  /* mem tit */
  .mem-box > .tit {
    margin-bottom: 10px;
    margin-top: 30px;
    padding: 0;
    flex-grow: 0;
  }

  .mem-box > .tit > h1 {
    font-size: 18px;
    margin-bottom: 20px;
  }

  /* mem button */
  .mem-box > .tit > button {
    font-size: 14px;
    padding: 10px 20px;
  }
  

  .mem-box > .mid-box {
    margin-bottom: 0;
    flex-grow: 0;
    display: none;
  }

  .mem-box > .mid-box-mb {
    display: block;
    width: 100%;
  }

  .mem-box h3 {
    font-weight: var(--font-weight-semibold);
    font-size: 14px;
  }

  .mem-box > .mid-box > p {
    font-weight: 300;
  }

  /* mem 표 */
  .mem-box > .right-box {
    flex-grow: 0;
    width: 100%;
  }

  .mem-box > .right-box > table {
    width: 100%;
  }

  td {
    padding: 12px 4px;
  }

  /* -- notice start -- */
  .notice {
    margin-top: 527px;
    padding: 50px 25px;
  }
  
  .notice > .tit {
    margin-bottom: 30px;
  }
  .notice > .tit .plus {
    display: flex;
    /* 알수 없는 여백 삭제 */
  }
  .notice > .tit > h1 {
    font-size: 20px;
  }

  .notice > .tit .plus img {
    width: 20px;
    height: 20px;
  }

  .notice .tab-box {
    display: block;
  }

  .notice .tab {
    display: flex;
    justify-content: space-around;
  }

  .notice .tab .tab__item {
    font-size: 16px;
  }

  .tab__item > a > p {
    display: none;
  }
  
  .tab__content-wrapper > .tab__content > .list-box.first {
    padding: 12px;
    width: 95%;
    align-items:end;
    justify-content: space-between;
  }

  .tab__content-wrapper > .tab__content > .list-box {
    padding: 12px;
    width: 95%;
    align-items: start;
    justify-content: space-between;
  }

  .tab__content-wrapper > .tab__content > .list-box > a {
    flex-grow: 0;
    flex-shrink: 0;
  max-width: 230px;
  overflow: hidden;
  text-overflow: ellipsis;
  }

  .list-box > .date-box {
    display: none;
  }

  .list-box > .date-box-mb {
    display: block;
    font-size: 12px;
    color: #999;
    align-self: end;
  }

  /* other start */
  .other {
    height: 155px;
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }

  .other .other-tit {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .other .other-tit h1 {
    font-size: 16px;
  }

  .other p {
    font-size: 14px;
  }

  .pc {
    display: none;
  }

  /* .other div div {
    font-size: var(--font-medium);
    color: #C1C1C1;
    margin-top: 8px;
    font-size: 12px;
  } */

  .other .other-mb {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
  }

  .other .other-mb .gr-1 ,
  .other .other-mb .gr-2,
  .other .other-mb .gr-3 {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 14px;
    font-weight: var(--font-weight-semibold);
  }
  .other .other-mb .gr-2 {
    margin-left: 10px;
  }

  /* end */
  .end {
    height: 180px;
  }

  .end > .bigger {
    display: flex;
    justify-content: center;
    gap: 1.563vw;
    padding: 15px 0;
  }

  .end > .smaller {
    line-height: 18px;
  }


}